---js
const eleventyNavigation = {
	key: "For Sale",
	order: 3
};
---

{% set postslist = collections['for-sale'] %}
{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<div class="for-sale-list">
    {%- for post in postslist | reverse %}
        <a href="{{ post.url }}" class="for-sale-list-link">
            <img class="for-sale-list-main-image" src="{{post.url}}/{{post.data.main_image}}" alt="{{ post.data.title }}">
            <h2>{{ post.data.title }}</h2>
            <p><strong>{{ post.data.description }}</strong>
            {% if post.data.sold %}
                <span>Sold</span>
            {% else %}
                <span>${{ post.data.price }}</span>
            {% endif %}
            </p>
        </a>
    {%- endfor %}
</div>
