<div reversed class="postlist" style="--postlist-index: {{ (postslistCounter or postslist.length) + 1 }}">
	{%- for post in postslist | reverse %}
		<a href="{{ post.url }}" class="postlist-link">
			<div class="postlist-image-and-title">
				<img class="postlist-main-image" src="{{post.url}}/{{post.data.main_image}}" alt="{{ post.data.title }}">
				<img class="postlist-alt-image" src="{{post.url}}/{{post.data.alternate_image}}" alt="">
			</div>
		</a>
	{%- endfor %}
</div>