---
layout: layouts/base.njk
---
<div class="post">
	<h1>{{ title }}</h1>
	<p>{{ description }}</p>


	{%- for tag in tags | filterTagList %}

		{% if tag == "for-sale" %}
			{% if sold %}
                <strong>Sold</strong>
            {% else %}
				{% include "for_sale_text.njk" %}
                <span>${{ post.data.price }}</span>
            {% endif %}
		{% endif %}

	{% endfor %}

	<ul class="post-metadata">
		<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date.getFullYear() }}</time></li>
		{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
		{%- endfor %}
	</ul>

	{{ content | safe }}

	{%- if collections.posts %}
	{%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
	<ul class="links-nextprev">
		{%- if previousPost %}<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
		{%- if nextPost %}<li class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
	</ul>
	{%- endif %}
	{%- endif %}
</div>
